html {
    background: black;
}

#demotext {
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    background: #232323;
    }

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.main-hear {
    display: flex;
    align-items: center;
}

.lead {
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
}

aside {

}

h1 {
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    margin: 10px;
    padding: 20px;
    border: 1p
}

li {
    font-family: Arial, Helvetica, sans-serif
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 10px;
    float: 
    
}
)